git+https://github.com/openprocurement/barbecue.git
git+https://github.com/openprocurement/python-json-patch.git
git+https://github.com/openprocurement/rfc6266.git
git+https://github.com/openprocurement/openprocurement.api@ea_core_master#egg=openprocurement.api
